body{
    background-color:rgb(244, 229, 221);
}
#content {
  width: 60%;
  margin: auto;
}

/* mobile view */
@media (orientation: portrait) {
    #content {
        width:100%;
    }
}
 p{
    font-size: 1.1em;
    line-height: 1.2em;
    padding-bottom: 12px;
    font-family:Georgia, 'Times New Roman', Times, serif;
 }

.embed {
    margin: 0 auto;
}

.commentary {
    font-size: 1em;
    line-height:1.4em;
    padding-bottom: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    ;

}
h1{
    font-size: 2.5em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    font-size: 1.6em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}